.idea
venv
data
logs
__pycache__
.env
documentation/chapters/07-Graphauswertung/01-Einleitung.aux
documentation/chapters/07-Graphauswertung/02-Grundlagen.aux
documentation/chapters/07-Graphauswertung/03-Anforderungen-Konzept.aux
documentation/chapters/07-Graphauswertung/04-Implementierung.aux
documentation/chapters/07-Graphauswertung/05-Zusammenfassung-Ausblick.aux
documentation/main.aux
documentation/main.bbl
documentation/main.bcf
documentation/main.blg
documentation/main.lof
documentation/main.log
documentation/main.lol
documentation/main.out
documentation/main.run.xml
documentation/main.synctex.gz
documentation/main.toc
documentation/main.xdy